*~
tmp.geo
tmp.msh
quad_tri_v21-edit09.nc
quad_tri_v21-edit10.nc
quad_tri_v21-edit13.nc
quad_tri_v21-edit14.nc
quad_tri_v21-edit15.nc
all-quads-v19.pkl
all_quads.nc
hec-grid.nc
mike*.*
grid_lagoon-v20.pkl
quad_tri_v19frontcc-opt.nc
quad_tri_v19frontcc.nc
quads_and_lines-v19.pkl
hex
old
ucb_clip
